#avatar{
    position: relative;
    left: 60%;
    width: 45px;
    height: 45px;
}

.navbar-header{
    position: relative;
    left: 90%;
}

.navbar.navbar-default{
    background-color: dimgray;
    font: 20px arial, sans-serif;
}

#user-name{
    color: white;
}

.dropdown-menu{
    background-color: dimgray;
}

.dropdown-menu span{
    color: white;
    font: 20px arial, sans-serif;
}