#avatar{
    position: relative;
    left: 85%;
    width: 45px;
    height: 45px;
}

.navbar.navbar-default{
    background-color: dimgray;
    font: 20px arial, sans-serif;
    width: 100%
}

.dropdown-menu.dropdown-menu-right {
    right: 0;
    left: auto;
    background-color: dimgray;
}

.dropdown-menu.dropdown-menu-right button{
    color: white
}

#user-name{
    color: white;
}


#error-msg{
    margin-top: 5px;
    color: red;
    font: normal 20px "Arial";
}

#chat-frame{
    float: left;
    min-height: 800px;
    left: 15%;
    width: 45%;
    margin-right: 10%;
}

.custom-select{
    left: 75%;
    max-width: 20%;
}

#display-msg{
    min-height: 500px;
}


/*#send-msg{*/
    /*right: 0;*/
    /*left: auto;*/
/*}*/